


body{
  user-select: none;
}

.hidden{
  display: none;
}

img{
  width:1920px;
  height:1080px;
  position: fixed;
  top:0;
  z-index: -1;
  animation: fadeIn .5s;

}

span{
  text-decoration: none;
}

.inner {
  
  height:500px;
  width:100%;
  position: absolute;
  top:0;
  bottom:0;
  margin: auto 0;
}

#center{  
  height:300px;  
  position: relative;
  
}


#login-form{
  
  position: absolute;
  top:80%;
  bottom:0;
  left:38%;    
  height:200px;  
}
#login-form input{
  background: none;
  font-size: 45px;
  width:400px; 
  border:none;
  box-shadow: none;
  outline: none;
  text-align: center;
  caret-color: #fff;
  color:#fff;
}
::placeholder{ 
  color:#fff;
}
#login-form .login{
  display: none;
}


#clock {
  font-size: 150px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:#fff;
  display: block;
  width:150px;
  height:100px;
  margin:0;
  position: absolute;
  left:40%;
  top:10%;
  z-index: 5;
} 

#center #greeting {
  color:#fff;
  font-size: 45px;
  height:50px;
  width:500px;  
  display: block;
  position: absolute; 
  top:70%;
  left:35%;  
  text-align: center;  
}
#center .greeting {   
  color:white;
  padding:0;
  border:none;
  background:none;
  z-index: 6;
  
}

#center .hidden {
   z-index: -2; 
}

.inner #center .todo {
  
  height:60px;  
  position: absolute;
  width:600px; 
  left:30%;
  top:120%;
  
  
}

.inner #center .todo #todo-form input{
  
  background: none;
  font-size: 45px;
  width:700px; 
  border:none;
  box-shadow: none;
  outline: none;
  text-align: center;
  caret-color: #fff;
  color:#fff;  
}

.inner #center .todo #todo-list li{
  color:#fff;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.inner #quote {  
  position: absolute;
  bottom:-100px;
  left: 25%;
  display: block;
  width:900px;  
  text-align: center;
}
.inner #quote span{
  font-size:30px;  
  color:#fff;  
}
.inner #quote span:first-child{
  display: block;
}

#weather {  
  position: absolute;
  right:30px;
  top:30px;
}

#weather span{
  font-size:22px;
  color:#fff;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}


